* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #48868c;
    display: grid;
    place-items: center;
    height: 100vh;
}

input {
    border-radius: 10px;
    outline: none;
    padding: 8px;
    color: black;
    margin: 10px 0;
}

button {
    color: black;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    border: none;
}

button:hover {
    cursor: pointer;
}

.container {
    background: linear-gradient(to right, rgba(50, 80, 77, 0.4), rgba(20, 100, 150, 0.4)), url('https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGluayUyMHNreXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-position: center;
    background-color: #404040;
    text-align: center;
    width: 700px;
    padding: 15px;
    box-shadow:  0 0 1px black;
    border-radius: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 30px;
    font-size: 25px;
}

.city_name {
    font-size: 36px;
    margin: 10px;
}

.city_temperture {
    display: flex;
}

.temperture {
    font-size: 50px;
    display: inline-block;
}

.temperture_span {
    font-size: 30px;
}


.weather_detail {
    padding: 10px;
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.next_weather {
    display: flex;
    gap: 15px;
}

.weather {
    padding: 10px;
    width: 155px;
    height: 135px;
    border-radius: 10px;
}

.weather_content {
    display: flex;
}

.weather_temperture {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.weather_date {
    font-size: 20px;
}

.temp_max , .temp_min {
    font-size: 18px;
}

.hide {
    display: none;
}